@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 100;
$normal: 100;
$regular: 400;
$bold: 600;
$semi-bold: 900;

$font-100: 100px;
$font-48: 48px;
$font-24: 24px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

$family: "Playwrite FR Moderne", sans-serif;
.text {
    @include font($regular, $font-24, black);
}
// .hero__title {
//     @include font($semi-bold, $font-100, black);
// }
