@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");

body {
    @include font($regular, $font-24, black);
}

@font-face {
    font-family: "Playwrite FR Moderne";
    src: local("Playwrite FR Moderne"), local("PlaywriteFRModerne-Regular"),
        url("PlaywriteFRModerne-Regular.ttf") format("ttf"),
        url("PlaywriteFRModerne-ExtraLight.ttf") format("ttf");

    font-weight: normal;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
    text-decoration: none;
    color: #666;
}
.section {
    // position: absolute;
    // margin: 0 auto;
    // width: 100%;
    min-height: calc(-60px + 50vh);
    background: rgb(39, 43, 51);
}
