@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");

body {
    @include font($regular, $font-24, black);
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1940px;

    &--sm {
        max-width: 840px;
    }
}
@font-face {
    font-family: "Playwrite FR Moderne";
    src: local("Playwrite FR Moderne"), local("PlaywriteFRModerne-Regular"),
        url("PlaywriteFRModerne-Regular.ttf") format("ttf"),
        url("PlaywriteFRModerne-ExtraLight.ttf") format("ttf");

    font-weight: normal;
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
    text-decoration: none;
    color: #666;
}
